name: Docker Image CI

on: [push]

jobs:

  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
       include:
         - php-base-image-version: "7.4-fpm"
           dockerfile-flavour: "debian"
         - php-base-image-version: "7.4-apache"
           dockerfile-flavour: "debian"
         - php-base-image-version: "8.0-fpm"
           dockerfile-flavour: "debian"
         - php-base-image-version: "8.0-apache"
           dockerfile-flavour: "debian"
      fail-fast: false
    env:
      PHP_IMAGE_NAME: "yiisoftware/yii-php"
      PHP_BASE_IMAGE_VERSION: ${{ matrix.php-base-image-version }}
      DOCKERFILE_FLAVOUR: ${{ matrix.dockerfile-flavour }}
    steps:
    - uses: actions/checkout@v1
    - name: Set version suffix
      if: startsWith(github.ref, 'refs/tags/')
      run: echo "PHP_IMAGE_VERSION_SUFFIX=${GITHUB_REF:10}" >> $GITHUB_ENV
    - name: Install
      env:
        TEST_YII_VERSION: "a777c2e8f69dc753f8a945b1dd54bbaaa1e9e66c"
      run: |
        git clone https://github.com/yiisoft/yii2 _host-volumes/yii2
        pushd _host-volumes/yii2 && git checkout ${TEST_YII_VERSION} && popd
        cp .env-dist .env
    - name: Print Info
      run: |
        pwd
        docker version
        docker info
        docker-compose version
    - name: Build Image
      run: docker-compose build --build-arg X_LEGACY_GD_LIB=$X_LEGACY_GD_LIB
    - name: Test
      run: |
        docker-compose run --rm php php -v
        docker-compose run --rm -e PHP_ENABLE_XDEBUG=1 php php -v
        docker-compose run --rm php php /tests/requirements.php
        docker-compose run --rm -w /yii2 php composer install --prefer-dist
        docker-compose run --rm -w /yii2 php php -d error_reporting="E_ALL ^ E_DEPRECATED" vendor/bin/phpunit tests/framework/ --exclude db
        docker images
    - name: Login to Docker
      if: startsWith(github.ref, 'refs/tags/') || github.ref == 'refs/heads/master'
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_PASS }}
    - name: Push docker image
      if: startsWith(github.ref, 'refs/tags/') || github.ref == 'refs/heads/master'
      run: docker-compose push
